.product{
    flex: 4;
    padding: 20px;
}
.productTitleContainer{
    display: flex;

    align-items: center;
    justify-content: space-between;

}

.productTitle{

}
.productAddButton{
    width: 80px;
    bottom: none;
    padding: 5px;
    background-color: teal;
    color: white;
    border-radius: 5px;
    font-size: 16px;

}

.productTop{

    display: flex;

}

.productBottom{

}

.productTopLeft{
    flex: 1;

}

.productTopRight{
    flex: 1;

    margin: 20px;
    padding: 20px;
    -webkit-box-shadow: 0px 0px 15px -10px #000000; 
    box-shadow: 0px 0px 15px -10px #000000;
}
.productInfoImg{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;

}
.productInfoTop{

}
.productInfoBottom{

}
.productName{

}
.productInfoItem{

}